/* CARD */

.card {
	max-width: 5rem;
	max-height: 120px;
	text-align: center;
	padding: 0.3em;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #ff7e5f;
	background-color: transparent;
	border-radius: 10%;
	transition: transform 500ms;
}
/* .card:hover,
.card:focus {
	border: 2px solid orange;
	background: linear-gradient(#ff7e5f, #feb47b);
	transform: scale(1.05);
	cursor: pointer;
} */
.card-unclicked {
	background: transparent;
}
.card-clicked {
	background: linear-gradient(#ff7e5f, #feb47b);
}

@media screen and (max-width: 420px) {
	.card:hover,
	.card:focus {
		transform: none;
	}
}

.card-pic {
	max-width: 80px;
}
.card-name {
	margin: 0;
}
